<h1> Listing items </h1>
<table>
  <thead>
  <tr>
    <th> Name</th>
    <th> Done</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
      <tr id="item_<%= item.id %>">
        <td> <%= item.name %> </td>
        <td> <%= item.done %> </td>
        <td> <%= link_to 'Show', item %> </td>
        <td> <%= link_to 'Edit', edit_item_path(item) %> </td>
        <td> <%= link_to 'Destroy', item, data: { confirm: 'Are you sure?' }, method: :delete %> </td>
      </tr>
  <% end -%>
  </tbody>
  <br>

<%= link_to 'New Item', new_item_path %>